body {
    display: flex;
    /* display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto; */
    flex-wrap: wrap;
    justify-content: center;
}

#mapid {
    /* grid-column: 1,2;
    grid-row: 1,2; */
    height: 85vh;
    width: 60vw;
    border: 2px solid black !important;
}

#outTable{
    /* grid-column: 2,3;
    grid-row: 1,2; */
    font-family: 'Source Sans Pro', sans-serif !important;
}
/* #outTable th {
    font-weight: lighter !important;
}
#outTable td {
    font-weight: lighter !important;
} */

table{
    margin: auto;
    border: 1px solid #454545;
}
.cTable th{
	font-weight: normal !important;
}
.info {
    padding: 6px 8px;
    font: 16px/18px 'Source Sans Pro', sans-serif !important;
    font-size: small;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #373737;
}

.display-none {
    display: none;
}

.legend {
    line-height: 18px;
    color: #373737;
}

.legend p {
    font-size: 14px !important;
    margin: 0 !important;
    font-weight: 600;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
@media only screen and (max-width: 480px) {
#mapid {
    height: 85vh;
    width: 90vw;
    border: 2px solid black !important;
}
}