body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    margin-left: 0;
    overflow: scroll;
}

#mapid {
    grid-column: 1;
    grid-row: 1;
    height: 95vh;
    width: 66vw;
    border: 2px solid black !important;
}

#outTable{
    grid-column: 2;
    grid-row: 1;
    font-family: 'Source Sans Pro', sans-serif !important;
    width: 90%;
    height: auto;
}
#outTable th {
    font-weight: normal !important;
}
#outTable td {
    font-weight: normal !important;
}

table{
    margin: auto;
    border: 1px solid #454545;
}
.cTable th{
	font-weight: normal !important;
}
.info {
    padding: 6px 8px;
    font: 16px/18px 'Source Sans Pro', sans-serif !important;
    font-size: small;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #373737;
}

.display-none {
    display: none;
}

.legend {
    line-height: 18px;
    color: #373737;
}

.legend p {
    font-size: 14px !important;
    margin: 0 !important;
    font-weight: 600;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
@media only screen and (max-width: 520px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        overflow: scroll;
        margin-left: 0;
        font-size: small !important;
        font-weight: lighter !important;
    }
    
    #mapid {
        grid-column: 1;
        grid-row: 1;
        height: 72vh;
        width: 95vw;
    }
    
    #outTable{
        grid-column: 1;
        grid-row: 2;
        width: 99%;
        height: auto;
        font-size: smaller !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        overflow: scroll;
        margin-left: 0;
        font-size: small !important;
        /* font-weight: lighter !important; */
    }
    
    #mapid {
        grid-column: 1;
        grid-row: 1;
        height: 85vh;
        width: 85vw;
    }
    
    #outTable{
        grid-column: 2;
        grid-row: 1;
        width: 90%;
        height: auto;
        font-size: smaller !important;
    }
}